.octodex {
	display: flex;
	justify-content: space-around;
}

.octocat > a > img{
	border: 1px solid lightgrey;
	border-radius: 5px;
	width: 350px;
	position: relative;
}

.octocat {
	display: block;
	position: relative;
}

li:after{
	content:"";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 5px 0 5px;
	border-color: lightgrey transparent transparent transparent;
	position: absolute;
	top: 351px;
	left: 330px;
}

.authors img {
	width: 25px;
}

.image-footer{
	display:flex;
	justify-content: space-between;
	font-family: helvetica;
	border-bottom: 1px solid #ccc;
	height: 50px;
	line-height: 50px;
}

a {
	text-decoration: none;
	color: black;
}

span {
	color: grey;
}

.image-caption{
	display: flex;
}

.image-number{
	color: lightgrey;
}

.image-number:before{
	content: "#";
}

ul{
	list-style: none;
}

.authors{
	padding: 0 5px;
}

	
.image-caption > a{
		padding: 0 5px;
}

