.octodex {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.octocat > a > img{
	border: 1px solid lightgrey;
	border-radius: 5px;
	width: 350px;
}

.authors img {
	width: 25px;
}

.image-footer{
	display:flex;
	justify-content: space-between;
	font-family: helvetica;
}

a {
	text-decoration: none;
	color: black;
}

span {
	color: grey;
}

.image-caption{
	display: flex;
}

.image-number{
	color: lightgrey;
}

.image-number:before{
	content: "#";
}

ul{
	list-style: none;
}

.authors{
	padding: 0 5px;
}

li:after{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 4px 0 4px;
	border-color: red;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
	
.image-caption > a{
		padding: 0 5px;
}

